/* Main.css */
.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    color: #fff;
  }
  
  .text-and-buttons {
    display: flex;
    justify-content: space-between;  /* Распределяет пространство между текстом и кнопками */
    align-items: center;
    width: 100%;
  }
  
  h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    color: #fff;
  }
  
  p {
    font-size: 18px;
    color: #ccc;
    margin: 0;
    margin-right: 20px; /* Отступ между текстом и кнопками */
  }
  
  .buttons-container {
    display: flex;
    gap: 20px;
    margin-left: auto; /* Выравнивает кнопки по правому краю */
  }
  
  /* Кнопка Export Data */
  .export-data {
    background-color: #0A1330;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .export-data:hover,
  .export-data:focus {
    background-color: #1A2037;
    color: white;
    box-shadow: none;
  }
  
  .export-data .anticon {
    margin-left: 5px;
  }
  
  .create-report {
    background-color: #CB3CFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .create-report:hover,
  .create-report:focus {
    background-color: #A932CC;
    color: white;
    box-shadow: none;
  }
  
  .statistic-group {
    margin-left: 50px;
    display: flex; 
    justify-content: space-between;
    gap: 10px; 
  }
  

  .stat-item {
    width: 249px;
    height: 100px;
    top: 82px;
    background-color: #0B1739; 
    text-align: center; 
    line-height: 100px; 
    border: 0.6px solid #343B4F; 
  }
  
  .large-stat-item {
    width: 1046px;
    height: 557px;
    top: 210px;
    left: -0px;
    
    border: 0.6px solid #343B4F; 
  }
  
  .large-static-group {
    margin-left: 50px;
    display: flex; 
    justify-content: space-between; 
    gap: 10px; 
  }