body {
  background-color: #081028;
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  height: 100vh;
  margin-left: 348px;
}
.header-content {
  padding: 20px;
  flex: 1;
  color: #fff; 
}

.home-container h1 {
  color: #fff; 
}

.home-container p {
  font-size: 18px;
  color: #ccc; 
}

